@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap');

$primary: #9767b7;
$background: #e2e9f3;
$onBackground: #111b2a;

body {
  font-family: 'Saira', sans-serif;
  background: $background;
}
