@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200&display=swap');

$primary: #9767b7;
$background: #e2e9f3;
$onBackground: #111b2a;


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

body {
  font-family: 'Saira', sans-serif;
  background: $background;
  margin: 0;
  padding: 0;
  position: relative;
}

.button {
  padding: 13px 18px;
  background: $onBackground;
  color: $background;
  height: fit-content;
  text-decoration: none;
  transition: background 300ms;
  border: none;
  cursor: pointer;

  &:hover {
    background: $primary;
  }
}

.floatingStyle1 {
  @media screen and (max-width: 1240px) {
    display: none;
  }
}


.header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 120px;

  @media screen and (max-width: 1240px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0
  }

  img {
    border-radius: 1000px;
    animation: float 6s ease-in-out infinite;
    position: relative;
    top: -15px;
  }


  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;

    h1 {
      font-size: 94px;
      line-height: 94px;
      font-weight: 100;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1240px) {
        font-size: 45px;
        line-height: 54px;
        text-align: center;
      }
    }

    div {
      display: flex;
    }

    p {
      font-weight: 200;
      padding: 0;
      margin: 0;
    }

    .underHeader {
      display: flex;
      gap: 12px;
      align-items: center;

      @media screen and (max-width: 1240px) {
        flex-direction: column;
        text-align: center;
      }

    }
  }

}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

.skillsContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  @media screen and (max-width: 1500px) {
    flex-wrap: wrap;
  }

  .skill:first-child {

  }

  .skill:last-child {
    border-right: none;
  }

  .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $onBackground;
    border-bottom: 1px solid $onBackground;
    border-right: 1px solid $onBackground;
    width: 150px;
    height: 190px;
    font-size: 24px;
    flex-grow: 2;
    position: relative;

    img {
      filter: brightness(0);
      width: 100px;
      height: 100px;
      transition: all 300ms;
    }

    span {
      position: absolute;
      text-align: center;
      transition: all 300ms;
      opacity: 0;
      transform: translateY(-50px);
      max-width: 90%;
    }

    &:hover img {
      opacity: 0;
    }

    &:hover span {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  gap: 12px;


  h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    padding: 0;
    margin: 24px 0 0;
  }

  p {
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

section {
  h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    padding: 0;
    margin: 24px 0 0;
  }
}

.projects {

  .projectsContainer {
    overflow-x: hidden;
    display: flex;
    gap: 12px;
  }

  .project {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    padding: 15px;
    justify-content: center;
    border: 1px solid $onBackground;
    gap: 12px;

    margin-bottom: 200px;

    .skills-project-container {
      display: flex;
      margin-top: 12px;
      margin-bottom: 12px;
      gap: 12px;

      .skill {
        width: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        img {
          width: 80%;
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-weight: 200;
    }

    h2 {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .buttonsContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    a {
      display: block;
      padding: 8px 14px;
      font-family: sans-serif;
      font-size: 1.5rem;
      text-decoration: none;
      color: $primary;
      position: relative;
      transition: all .3s cubic-bezier(.2, 0, 0, 1);
      z-index: 1;

      &:after {
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 1.25rem;
        left: 1.25rem;
        background-color: $primary;
        transition: all .3s cubic-bezier(.2, 0, 0, 1);
        transform-origin: bottom center;
        z-index: -1;
      }

      &:hover {
        color: $background;

        &:after {
          right: 0;
          left: 0;
          height: 100%;
        }
      }
    }
  }
}
