@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200&display=swap');

$primary: #9767b7;
$background: #e2e9f3;
$onBackground: #111b2a;

body {
  font-family: 'Saira', sans-serif;
  background: $background;
  margin: 0;
  padding: 0;
}

.button {
  padding: 13px 18px;
  background: $onBackground;
  color: $background;
  height: fit-content;
  text-decoration: none;
  transition: background 300ms;

  &:hover {
    background: $primary;
  }
}

.floatingStyle1 {
  @media screen and (max-width: 1240px) {
    display: none;
  }
}


.header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 120px;

  @media screen and (max-width: 1240px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0
  }

  img {
    border-radius: 1000px;
  }


  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;

    h1 {
      font-size: 94px;
      line-height: 94px;
      font-weight: 100;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1240px) {
        font-size: 45px;
        line-height: 54px;
        text-align: center;
      }
    }

    div {
      display: flex;
    }

    p {
      font-weight: 200;
      padding: 0;
      margin: 0;
    }

    .underHeader {
      display: flex;
      gap: 12px;
      align-items: center;

      @media screen and (max-width: 1240px) {
        flex-direction: column;
        text-align: center;
      }

    }
  }

}

.skillsContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  .skill:first-child {

  }

  .skill:last-child {
    border-right: none;
  }

  .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $onBackground;
    border-bottom: 1px solid $onBackground;
    border-right: 1px solid $onBackground;
    width: 150px;
    height: 190px;
    font-size: 24px;
    flex-grow: 2;

    span {
      text-align: center;
    }
  }
}
